@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1em;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background-color: black;
}
body::-webkit-scrollbar {
    width: 0.1rem;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
}

.nav_bar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    min-height: 8vh;
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
}

/* Section_1 */

#intro {
    display: flex;
    flex-direction: column;
    padding: 12% 0;
    min-height: 90vh;
    position: relative;
    
}

#intro .top {
    /* position: relative;
    left: 50%;
    top: 50%; */

  
   display: flex;
    justify-content: center;
    align-items: center;
}

#intro .h1slide {
    font-size: 4.5rem;
    font-weight: 700;
    animation: intros 1s forwards;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
#intro .computer {
    font-size: 5rem;
    animation: comprot 1s forwards;
}
#intro .introLine {
    min-width: 50%;
   
    margin-bottom: auto;

}
#intro .introLine p:first-child {
    text-align: center;
    font-size: 2rem;
    animation: intro1 1s forwards 1s;
    opacity: 0;
}
#intro .introLine p:nth-child(2) {
    text-align: center;
    font-size: 2rem;
    animation: intro1 1s forwards 2s;
    opacity: 0;
}

/* Section 2 */

#us {
    height: 100vh;
    /* background-color: #00ffff; */
    text-align: center;
}

#us h1 {
    font-size: 4rem;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
#us p {
    font-size: 1.5rem;
}
#us .upperUs {
    /* background-color: #c471ed; */
    margin: 0 auto;
}
#us .upperUs h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    background: #8a2387; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f27121, #e94057, #8a2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
#us ol {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: left;
    margin-top: 5%;
}
#us ol li {
    font-size: 2rem;
    margin: 0 auto;
    opacity: 0;
    list-style: none;
}

/* Keyframes */

@keyframes intros {
    from {
        margin-top: 100%;
        font-size: 1rem;
    }
    to {
        margin-top: 0%;
    }
}
@keyframes comprot {
    from {
        font-size: 0.5rem;
        margin-top: 100%;
        transform: rotate(360deg);
    }
    to {
        font-size: 5rem;
        margin-top: 0%;
        transform: rotate(0deg);
    }
}
@keyframes intro1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes uslist {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
    #intro .h1slide {
        font-size: 3rem;
    }
}
@media screen and (max-width: 768px) {
    html,
    body {
        position: relative;
        overflow-x: hidden;
    }

    .nav-links {
        z-index: 2;
        position: absolute;
        right: 0px;
        min-height: 50vh;
        border-radius: 0 0 0 5%;
        width: 50%;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.25s ease-in;
    }
    .nav-links.open {
        transform: translateX(0%);
    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-links a {
        color: black;
    }
    .nav-links li {
        opacity: 0;
        z-index: 2;
        margin: 10% 0;
    }
    .nav-links li:last-child {
        margin-bottom: auto;
    }
    .hamburger {
        display: block;
    }
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX((0px));
        }
    }
    @keyframes navMenu {
        from {
            transform: translateX(100px);
        }
        to {
            transform: translateX(0px);
        }
    }
    /* section1 */
    #intro {
        margin: 25% 0;
        min-height: 60vh;
        padding: 0;
    }

    #intro .top {
        display: flex;
        flex-direction: column;
    }
    #intro .h1slide,
    .computer {
        font-size: 3rem;
    }
    #intro .introLine {
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        animation: intro1 1s forwards 1s;
        opacity: 0;
    }
    #intro .introLine p:nth-child(2) {
        font-size: 1.3rem;
        color: #00ffff;
        margin-top: 1rem;
    }
    /* section2 */
    #us h1 {
        font-size: 2.5rem;
    }
    #us p {
        font-size: 1.5rem;
    }
    #us .upperUs {
        margin: 0;
        padding: 0 5%;
        width: 100%;
    }
    #us .upperUs ol {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #us .upperUs ol li {
        font-size: 1.4rem;
        margin: 2% auto;
    }
    #us .upperUs h2 {
        font-size: 1.7rem;
    }
}
